html,
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  margin: 0;

  /* theme */
  --theme-primary-color: #D7FFF1;
  --theme-light-color: #8CD790;
  --theme-dark-color:#77AF9C;
  --theme-darker-color: #285943;

}


