html,
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  margin: 0;

  /* theme */
  /* color */
  --theme-primary-color: #d7e5ff;
  --theme-light-color: #8CD790;
  --theme-dark-color:#77AF9C;
  --theme-darker-color: #285943;

  --theme-positive-color: #4378db;
  --theme-negative-color: #fe5d7c;
  --theme-neutral-color: #8ad1CA;

  /* spacing */
  --theme-common-spacing: 5px;
  --theme-wide-spacing: 10px;

  /* radius */
  --theme-common-radius: 5px;

  /* shadow */
  --theme-common-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}


